.container {
    display: flex;
    flex: 1 auto;
    align-items: center;
    padding-left: 10px;
}

.input {
    border: solid grey 2px;
    outline: none;
    padding: 5px 10px 5px 30px;
    font-size: 1.2rem;
    background-image: url(../../image/search.png);
    background-repeat: no-repeat;
    background-position: 5px;
    border-radius: 5px;

}

.button {
    width: 20px;
    height: 20px;
    background-image: url(../../image/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    margin-left: 10px;
    padding: 5px;
    border: none;
    outline: none;
    transition: ease .3s;
    cursor: pointer;
    &:active {
        transform: translateY(3px);
    }
}